@import "tailwindcss";

/* Vaste donkere waarden afdwingen voor Kesy 2.0 */
:root {
  --background: #020617; /* slate-950 */
  --foreground: #f8fafc; /* slate-50 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Reset html en body naar 100% hoogte en strakke achtergrond */
html, 
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  overflow: hidden; /* Voorkomt de dubbele scrollbalk aan de buitenkant */
}